system_ext/apex/com.android.vndk.v30.apex
system_ext/priv-app/Settings/Settings.apk
bootRE/boot.elf
odm/lib64/libailab_rawhdr.so
odm/lib64/libxmi_high_dynamic_range_cdsp.so
product/data-app/MIMediaEditorGlobalIshtar/MIMediaEditorGlobalIshtar.apk
product/data-app/Opera/Opera.apk
product/app/Photos/Photos.apk
product/app/TrichromeLibrary64/TrichromeLibrary64.apk
product/priv-app/ExtraPhotoGlobal/ExtraPhotoGlobal.apk
product/priv-app/MIBrowserGlobal_builtin_before_2021/MIBrowserGlobal_builtin_before_2021.apk
product/priv-app/Velvet/Velvet.apk
product/priv-app/Messages/Messages.apk
product/priv-app/GmsCore/GmsCore.apk
product/priv-app/MIUIGallery/MIUIGallery.apk
product/priv-app/MiuiCamera/MiuiCamera.apk
modem.img
recovery.img
